{% extends 'pattern_page.html' %}

{% block title %}Charity Solution{% endblock %}

{#   Deeper post view for better understanding by user   #}
{% block content %}

    <div class="alert alert-warning" role="alert" id="center_form">
        <h3>{{ post.post_title }}, by {{ organisation.organisation_name }}</h3><br>

        <div align="left">
            <h5><b>Description: </b>{{ post.post_text|linebreaks|wordwrap:10 }}</h5>
            <h5><b>City:</b> <a>{{ post.city }}</a></h5>
            <h5><b>Help category:</b> <a>{{ post.help_category }}</a></h5>
            {% if post.meeting_date %}
                <h5><b>Meeting date:</b> {{  post.meeting_date|date:"SHORT_DATE_FORMAT" }}</h5>
            {% endif %}
            {% if post.meeting_time %}
                <h5><b>Meeting time:</b> {{ post.meeting_time }}</h5>
            {% endif %}
        </div><br><br><br>

        {% if post.file %}
            <p> Also organisation added <a href="{{ post.file.url }}" download=""> file</a></p>
        {% endif %}

        <h5><b>Organisation contacts:</b></h5>
        <ul>
            {% if organisation.telegram_nick %}
                <li><b>Telegram:</b> <a>{{ organisation.telegram_nick }}</a></li>
            {% endif %}

            {% if organisation.instagram_nick %}
                <li><a><b>Instagram:</b> {{ organisation.instagram_nick }}</a></li>
            {% endif %}

            {% if organisation.email %}
                <li><a><b>Email:</b>  {{ organisation.email }}</a></li>
            {% endif %}
            {% if organisation.organisation_site_url %}
                <li><a><b>Site:</b> {{ organisation.organisation_site_url }}</a></li>
            {% endif %}
        </ul>

        {{ post.date_created }}<br>
    </div>
{% endblock %}